body {
    margin: auto;
    width: 70%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-image: url(other-images/background.jpg);
}

.cards img {
    width: 13%;
    margin: 1%;
}

#game-action button{
    width: 15%;
    height: 20%;
    font-size: 20px;
    padding: 2%;
    border-radius: 10px;
}

#chips {
    float: left;
    position: absolute;
    font-size: 3.75vw;
    img {
        width: 3vw;
    }
}